{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true, // We write for browser
    "node": true, // using CommonJS imports
    "es6": true // And we use ES6 features
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },
}